

<div class="section">
  <div class="container">
    <div id="login-create" class="columns">
      <div class="column">
        <h2 class="subtitle">Login</h2>
        <form class="form login-form">
          <div class="field">
            <label class="label" for="email-login">Email:</label>
            <div class="control">
              <input class="input" type="text" id="email-login" placeholder="Enter Email">
            </div>
          </div>
          <div class="field">
            <label class="label" for="password-login">Password:</label>
            <div class="control">
              <input class="input" type="password" id="password-login" placeholder="Enter Password">
            </div>
          </div>
          <div class="field">
            <div class="control">
              <button class="button is-primary" type="submit">Log into Your Account</button>
            </div>
          </div>
        </form>
      </div>

      <div class="column">
        <h3 class="subtitle">Create New Account</h3>
        <a href="/newaccount" class="button is-link" id="link-button">Click Here</a>  
      </div>
    </div>
  </div>
</div>

<script src="./js/login.js"></script>
