<h2> Login </h2>

<form class="form login-form">
    <div class="form-group">
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" />
    </div>
    <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
    </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Log into Your Account</button>
  </div>

<h3> Create Account </h3>
    <a href="/newaccount"> Click Here to start Faking it! </a>

</form>

<script src="./js/login.js"></script>