<h2> Create Your New FAKEBOOK Account! </h2>

<div class="login-card">
    <h2 class="page-title">New Account</h2>
    <form class="form signup-form">
      <div class="form-group">
        <label for="username-signup">Name:</label>
        <input class="form-input" type="text" id="username-create" />
      </div>
      <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-create" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-create" />
      </div>
      <div class="form-group">
        {{!-- TODO - link Create New Account button to the newaccountRoutes --}}
        <button class="btn btn-primary" type="submit">Create New Account</button>
      </div>
        {{!-- TODO - link Back Button to homepage --}}
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Back to Hompage</button>
      </div>
    </form>
  </div>